* {
    font-family: 'Noto Sans KR', sans-serif;
}

:root {
    --mainColor: #ed6f63;
    --backgroundColor: #f0f0f0;
    --textColorBlack: #263343;
    --textColorWhite: #f0f4f5;
}

html {
    font-size: 10px;
}

strong {
    font-weight: bold;
    font-size: 1.2em;
}

.topbar {
    width: 100%;
    /* background-color: #333333; */
    z-index: 10;
    position: fixed;
    top: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.menu {
    margin: 0 auto;
    padding: 25px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 2.1rem;
}

.menu .logo img {
    width: 130px;
    cursor: pointer;
    margin-top: 4px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu .menu_list a:hover {
    font-weight: bold;
    border-bottom: 3px solid var(--mainColor);
}

.menu_list {
    display: flex;
    gap: 60px;
    line-height: 25px;
}

.link_icon a {
    margin: 0 10px;
    font-size: 25px;
}

.btn_toggle {
    position: absolute;
    right: 32px;
    font-size: 2.5rem;
    color: var(--mainColor);
    display: none;
}

.sec_home {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/running.jpg") fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 160px 0;
    font-size: 3.7rem;
}

.sec_home .title {
    
    margin: 50px 0 40px;
    word-break: keep-all;
    line-height: 1.5;
}

.sec_home p {
    font-size: 0.5em;
    line-height: 2;
}

.sec_home .btn_start {
    display: inline-block;
    width: 70%;
    max-width: 300px;
    font-size: 0.5em;
    text-decoration: none;
    color: #fff;
    background: var(--mainColor);
    margin: 50px 0 80px;
    padding: 1em;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 3px 5px 0 rgba(0,0,0,0.3),3px 5px 0 #ff3333 ,8px 7px 0 2px rgba(0,0,0,0.24);
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

.sec_home .btn_start:hover {
    background: #e43a2b;
}

.sec_cardio {
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/bodyprofile.png");
    background-size: cover; */
    background: var(--backgroundColor);
    height: 500px;
    /* padding: 100px 0; */
    color: black;
    font-size: 2.5rem;
    line-height: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec_cardio .txt_group {
    position: relative;
    transition: all 1.5s;
}

.sec_cardio .txt_group p strong {
    font-size: 1.7em;
    position: relative;
    z-index: 1;
}

.pointword::after {
    content: ' ';
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.6em;
    background-color: var(--mainColor);
    z-index: -1;
    box-shadow: 3px 3px 5px var(--mainColor);;
}

.sec_cardio_desc {
    background: var(--textColorBlack);
    height: 100%;
    padding: 20px 10px;
}

.tit_group {
    line-height: 1.25;
    padding: 0 0 20px;
    font-size: 4rem;
}

.sec_desc_title {
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin: 90px 0 15px;
    color: var(--textColorWhite);
    display: inline-block;
}

.tit_group p {
    text-align: center;
    color: var(--textColorWhite);
    font-size: 0.5em;
    margin-top: 10px;
    line-height: 1.5;
    word-break: keep-all;
}

.effect_group {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px auto;
    flex-wrap: wrap;
}

.effect {
    overflow: hidden;
    height: 380px;
    font-size: 1.8rem;
    line-height: 1.3;
    background: var(--backgroundColor);
    width: 87%;
    max-width: 21em;
    /* flex-grow: 1; */
    margin: 20px 15px;
    text-align: center;
    padding: 10px 0 0;
    border-radius: 10px;
    word-break: keep-all;
    box-shadow: 4px 4px 10px rgb(53, 53, 53);
}

.effect h3 {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 20px;
}

.effect img {
    width: 100%;
    height: auto;
    object-fit: fill;
    margin-top: 30px;
}



@media (max-width: 857px) {
    /* .wrapper {
        background-position: center;
    } */

    /* .topbar {
        position: static;
        top: 0;
    } */

    .sec_home {
        background-position: center;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu_list {
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;
        align-items: center;
        width: 100%;
        display: none;
        color: var(--textColorWhite);
    }

    .link_icon {
        justify-content: center;
        width: 100%;
        display: none;
    }

    .btn_toggle {
        display: block;
    }

    .menu_list.active, .link_icon.active {
        display: flex;
    }

    .menu .logo img {
        width: 150px;
    }

    .sec_home {
        height: auto;
        padding: 90px 0 70px;
        font-size: 3rem;
    }

    .sec_cardio {
        font-size: 2rem;
    }

    /* .sec_desc_title {
        font-size: 3rem;
    } */

    .tit_group {
        font-size: 2.3rem;
    }

    .effect_group {
        flex-direction: column;
        align-items: center;
    }

    .effect {
        /* width: 95%; */
        font-size: 1.5rem;
        height: auto;
    }

    .effect h3 {
        font-size: 2rem;
    }
}