* {
    font-family: 'Noto Sans KR', sans-serif;
}

:root {
    --mainColor: #ed6f63
}

html {
    font-size: 10px;
}

.topbar {
    width: 100%;
    /* background-color: #333333; */
    z-index: 10;
    /* position: fixed; */
}

.wrapper {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/running.jpg") fixed;
    background-size: cover;   
}

.menu {
    margin: 0 auto;
    padding: 30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 18px;
}

.menu .logo img {
    width: 130px;
    cursor: pointer;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu .menu_list a:hover {
    font-weight: bold;
    border-bottom: 5px solid var(--mainColor);
}

.menu_list {
    display: flex;
    gap: 60px;
    line-height: 25px;
}

.link_icon a {
    margin: 0 10px;
    font-size: 20px;
}

.sec_home {
    color: #fff;
    text-align: center;
    width: 100%;
    height: 90vh;
    padding: 120px 0;
}

.sec_home .title {
    font-size: 4em;
    margin-bottom: 50px;
}

.sec_home .title strong {
    /* color: var(--mainColor); */
    font-weight: bold;
    font-size: 1.3em;
}

.sec_home p {
    font-size: 2em;
    line-height: 2;
}

.sec_home .btn_start {
    display: inline-block;
    width: 80%;
    max-width: 400px;
    font-size: 2.2em;
    text-decoration: none;
    color: #fff;
    background: var(--mainColor);
    margin: 50px 0;
    padding: 1em 0;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 3px 5px 0 rgba(0,0,0,0.3),3px 5px 0 #ff3333 ,8px 7px 0 2px rgba(0,0,0,0.24);
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

.sec_home .btn_start:hover {
    background: #e43a2b;
}

.sec_cardio {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/bodyprofile.png") fixed;
    background-size: cover;
    height: 100vh;
    padding: 200px 0;
    position: relative;
    text-align: center;
    gap: 60px;
}

.sec_cardio .txt_group p{
    color: #fff;
    font-size: 3em;
    line-height: 2;
    
}

.sec_cardio .txt_group p strong {
    font-size: 1.7em;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.pointword::after {
    content: ' ';
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.6em;
    background-color: var(--mainColor);
    z-index: -1;
    box-shadow: 3px 3px 5px var(--mainColor);;
}