* {
    font-family: 'Noto Sans KR', sans-serif;
}

:root {
    --mainColor: #ed6f63;
    --backgroundColor: #263343;
    --textColor: #f0f4f5;
}



sub {
    vertical-align: sub;
    font-size: smaller;
}

#Form {
}

#Form label {
    display: block;
}

.tit_gender, .tit_age {
    font-size: 1.2rem;
}

#selecGender, #selecAge {
    width: 11em;
    font-size: 1.2rem;
    margin: 0.7em 0 2em;
    padding: 4px;
    border-radius: 10px;
    border: 1.5px solid #C4C4C4;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
}

#selecGender:focus, #selecAge:focus {
    outline: 3px;
    border: 2px solid var(--mainColor);
}

option {
    text-align: center;
}

.temp_error {
    color: red;
}

#twelveRun::-webkit-outer-spin-button,
#twelveRun::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.twelve label, .vo2_max label {
    font-size: 1.2rem;
}

#twelveRun, #voMax {
    width: 6em;
    font-size: 1.2rem;
    padding: 0 0 0.2em 2em;
    margin: 0.7em 0;
    border: none;
    border-bottom: 3px #DBDBDB solid;
}

#twelveRun:focus {
    outline: none;
    border-bottom: 3px var(--mainColor) solid;
}

#btnSubmit {
    width: 12em;
    margin: 30px 0;
    border-radius: 44px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px;
    color: var(--textColor);
    background: var(--mainColor);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.chart_bar {
    max-width: 500px;
}