sub {
    vertical-align: sub;
    font-size: smaller;
}

#Form label {
    display: block;
}

.temp_color {
    color: red;
}

#twelveRun::-webkit-outer-spin-button,
#twelveRun::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}