:root {
    --mainColor: #ed6f63
}

#mainForm {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--mainColor);
    overflow: hidden;
}

#mainForm h1 {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
}

#mainForm .msg-notice {
    font-size: 1.2em;
    margin: 30px;
}

#mainForm .msg-notice strong {
    font-weight: bold;
}

.que_group {
    margin: 30px;
    font-size: 1.25em
}

#mainForm input {
    width: 20px;
    height: 20px;
    /* border-radius: 4px; */
    vertical-align: bottom;
    cursor: pointer;
    
}

#mainForm button {
    padding: 15px;
    font-weight: bold;
    margin: 0 10px;
    color: #fff;
    background-color: var(--mainColor);
    cursor: pointer;
    border-radius: 10px;
}

.btnClass {
    float: right;
}